---
import Layout from "../layouts/Layout.astro";
import ThemeToggle from "../components/ThemeToggle.astro";
import HeroSection from "../components/HeroSection.astro";
import ExperienceSection from "../components/ExperienceSection.astro";
import SkillsSection from "../components/SkillsSection.astro";
import ProjectsSection from "../components/ProjectsSection.astro";
import Dock from "../components/Dock.astro";
import catGif from "../assets/catworking.gif";
---

<Layout>
  <div class="hidden">
    <ThemeToggle />
  </div>

  <div
    class="min-h-screen bg-gray-100 dark:bg-[#0d0d1a] relative overflow-hidden"
  >
    <div
      class="absolute inset-0 opacity-[0.08] dark:opacity-[0.03]"
      style="background-image: linear-gradient(#50fa7b 1px, transparent 1px), linear-gradient(90deg, #50fa7b 1px, transparent 1px); background-size: 50px 50px;"
    >
    </div>

    <div
      id="desktopCat"
      class="fixed inset-0 flex items-center justify-center z-10 pointer-events-none opacity-0 scale-90 transition-all duration-500"
    >
      <img
        src={catGif.src}
        alt="Working cat"
        class="w-48 h-48 rounded-full object-cover shadow-2xl"
      />
    </div>

    <HeroSection />
    <ExperienceSection />
    <SkillsSection />
    <ProjectsSection />
  </div>

  <Dock />
</Layout>
