---
import Layout from "../layouts/Layout.astro";
import ThemeToggle from "../components/ThemeToggle.astro";
import HeroSection from "../components/HeroSection.astro";
import ExperienceSection from "../components/ExperienceSection.astro";
import SkillsSection from "../components/SkillsSection.astro";
import Footer from "../components/Footer.astro";
import Dock from "../components/Dock.astro";
---

<Layout>
  <div class="hidden">
    <ThemeToggle />
  </div>
  <HeroSection />
  <ExperienceSection />
  <SkillsSection />
  <Footer />
  <Dock />
</Layout>
