---
interface Props {
	title: string;
	url: string;
}

const { url, title} = Astro.props;
---

<a href={url} target="_blank" class="primary-green-text text-sm italic duration-200 hover:opacity-90">{title}</a>