---
import '@fontsource/poppins/300.css';
import '@fontsource/poppins/400.css';
import '@fontsource/poppins/500.css';
import '@fontsource/poppins/600.css';
import '@fontsource/poppins/700.css';
import '@fontsource/poppins/800.css';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--bg: #1e2127;
		--primaryGreen: #4e846e;
	}

	body {
		background: var(--bg);
		background: linear-gradient(131deg, rgba(30,33,39,1) 0%, rgba(15,17,20,1) 100%);
	}

	.primary-green-text {
		color: var(--primaryGreen);
	}

	.primary-green-bg {
		background-color: var(--primaryGreen);
	}

	.primary-green-border {
		border-color: var(--primaryGreen);
	}
</style>
